# Logs
*.log
*.log.*

# System files
.DS_Store
Thumbs.db

# Runtime files
*.pid
*.seed
*.pid.lock

# Temporary files
*.tmp
*.swp

# Dependency directories
node_modules/
vendor/

# Jekyll specific
_site/
.jekyll-cache/
.sass-cache/

# Bundler specific
.bundle/
Gemfile.lock

# NPM specific
package-lock.json
yarn.lock

# VSCode specific
.vscode/

# Coverage directory
coverage/

# Environment variables
.env
.env.*

# Config files
config.yml

# Assets
assets/images/Graphical abstract.PNG
